body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(179, 176, 176);
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

textarea {
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: none;
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="text"], button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.count {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

@media (max-width: 768px) {
  .form-container {
      margin-bottom: 15px;
  }
  .input-group {
      flex-direction: column;
  }
  input[type="text"], button {
      width: 80%;
      margin-bottom: 10px;
  }
}
